.button {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    /* The difference between top and bottom padding is to make up for the tiny
     * offset that browsers use to display lowercase letters.
     */
    padding: 6px 10px 7px;
    /*float: right;*/
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.5);
    cursor: pointer;
    white-space: nowrap;

    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.2);

    background-color: #4eb5e5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4eb5e5), to(#3196cf));
    background-image: -webkit-linear-gradient(top, #4eb5e5, #3196cf);
    background-image:    -moz-linear-gradient(top, #4eb5e5, #3196cf);
    background-image:      -ms-linear-gradient(top, #4eb5e5, #3196cf);
    background-image:       -o-linear-gradient(top, #4eb5e5, #3196cf);
    background-image:          linear-gradient(top, #4eb5e5, #3196cf);
}

.button:hover,
.button:focus {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.1);

    background-color: #4aafe5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4aafe5), to(#2c89c8));
    background-image: -webkit-linear-gradient(top, #4aafe5, #2c89c8);
    background-image:    -moz-linear-gradient(top, #4aafe5, #2c89c8);
    background-image:      -ms-linear-gradient(top, #4aafe5, #2c89c8);
    background-image:       -o-linear-gradient(top, #4aafe5, #2c89c8);
    background-image:          linear-gradient(top, #4aafe5, #2c89c8);
}

.button:focus {
    box-shadow: 0 0 1px #fff, 0 0 1px 3px #49ADE3;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px 3px rgba(73, 173, 227, 0.6);
}

.button:active {
    background-color: #184a73;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#184a73), to(#276084));
    background-image: -webkit-linear-gradient(top, #184a73, #276084);
    background-image:    -moz-linear-gradient(top, #184a73, #276084);
    background-image:      -ms-linear-gradient(top, #184a73, #276084);
    background-image:       -o-linear-gradient(top, #184a73, #276084);
    background-image:          linear-gradient(top, #184a73, #276084);
    color: #97b6ca;
    text-shadow: 0 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.3);
}

button::-moz-focus-inner, .button::-moz-focus-inner {
  padding: 0;
  border: 0
}

.button.submit {
    padding: 6px 45px 7px 10px;
    background-color: #4eb5e5;
    background-image: url("button-arrow.png");
    background-image: url("button-arrow.png"), -webkit-gradient(linear, left top, left bottom, from(#4eb5e5), to(#3196cf));
    background-image: url("button-arrow.png"), -webkit-linear-gradient(top, #4eb5e5, #3196cf);
    background-image: url("button-arrow.png"),    -moz-linear-gradient(top, #4eb5e5, #3196cf);
    background-image: url("button-arrow.png"),     -ms-linear-gradient(top, #4eb5e5, #3196cf);
    background-image: url("button-arrow.png"),      -o-linear-gradient(top, #4eb5e5, #3196cf);
    background-image: url("button-arrow.png"),         linear-gradient(top, #4eb5e5, #3196cf);
    background-repeat: no-repeat, no-repeat;
    background-position: center right, center;
}

.button.submit:focus {
    background-color: #4aafe5;
    background-image: url("button-arrow-hover.png");
    background-image: url("button-arrow-hover.png"), -webkit-gradient(linear, left top, left bottom, from(#4aafe5), to(#2c89c8));
    background-image: url("button-arrow-hover.png"), -webkit-linear-gradient(top, #4aafe5, #2c89c8);
    background-image: url("button-arrow-hover.png"),    -moz-linear-gradient(top, #4aafe5, #2c89c8);
    background-image: url("button-arrow-hover.png"),     -ms-linear-gradient(top, #4aafe5, #2c89c8);
    background-image: url("button-arrow-hover.png"),      -o-linear-gradient(top, #4aafe5, #2c89c8);
    background-image: url("button-arrow-hover.png"),         linear-gradient(top, #4aafe5, #2c89c8);
}

.button.submit:active {
    background-color: #184a73;
    background-image: url("button-arrow-active.png"), -webkit-gradient(linear, left top, left bottom, from(#184a73), to(#276084));
    background-image: url("button-arrow-active.png"), -webkit-linear-gradient(top, #184a73, #276084);
    background-image: url("button-arrow-active.png"),    -moz-linear-gradient(top, #184a73, #276084);
    background-image: url("button-arrow-active.png"),      -ms-linear-gradient(top, #184a73, #276084);
    background-image: url("button-arrow-active.png"),       -o-linear-gradient(top, #184a73, #276084);
    background-image: url("button-arrow-active.png"),          linear-gradient(top, #184a73, #276084);
}

/* Override all previously applied styles so that the button does not change
 * styles even if the user hovers, focuses or clicks on the button.
*/
.button.disabled:hover,
.button.disabled:focus,
.button.disabled:active,
.button.disabled,
.button.submit.disabled,
.button.submit.disabled:hover,
.button.submit.disabled:focus,
.button.submit.disabled:active {
  color: #d8dde0;
  cursor: default;
  background-color: #bcc4ca;
  background-image: none; /* Fix for IE9 still showing the blue arrow */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcc4ca), to(#a0a7ae));
  background-image: -webkit-linear-gradient(top, #bcc4ca, #a0a7ae);
  background-image:    -moz-linear-gradient(top, #bcc4ca, #a0a7ae);
  background-image:     -ms-linear-gradient(top, #bcc4ca, #a0a7ae);
  background-image:      -o-linear-gradient(top, #bcc4ca, #a0a7ae);
  background-image:         linear-gradient(top, #bcc4ca, #a0a7ae);
  text-shadow: 0 1px #444, 0 0 2px #555;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: .5;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(0, 0, 0, 0.2);
}

.button.submit.disabled,
.button.submit.disabled:hover,
.button.submit.disabled:focus,
.button.submit.disabled:active {
    background-color: #4eb5e5;
    background-image: url("button-loader.gif"), -webkit-gradient(linear, left top, left bottom, from(#4eb5e5), to(#3196cf));
    background-image: url("button-loader.gif"), -webkit-linear-gradient(top, #4eb5e5, #3196cf);
    background-image: url("button-loader.gif"),    -moz-linear-gradient(top, #4eb5e5, #3196cf);
    background-image: url("button-loader.gif"),      -ms-linear-gradient(top, #4eb5e5, #3196cf);
    background-image: url("button-loader.gif"),       -o-linear-gradient(top, #4eb5e5, #3196cf);
    background-image: url("button-loader.gif"),          linear-gradient(top, #4eb5e5, #3196cf);
    background-position: 95% center;
}

.button.negative {
    background-color: #d94f30;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d94f30), to(#ad1804));
    background-image: -webkit-linear-gradient(top, #d94f30, #ad1804);
    background-image:    -moz-linear-gradient(top, #d94f30, #ad1804);
    background-image:     -ms-linear-gradient(top, #d94f30, #ad1804);
    background-image:      -o-linear-gradient(top, #d94f30, #ad1804);
    background-image:         linear-gradient(top, #d94f30, #ad1804);
}

.button.negative:hover,
.button.negative:focus {
    background-color: #e3653f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e3653f), to(#c01c03));
    background-image: -webkit-linear-gradient(top, #e3653f, #c01c03);
    background-image:    -moz-linear-gradient(top, #e3653f, #c01c03);
    background-image:     -ms-linear-gradient(top, #e3653f, #c01c03);
    background-image:      -o-linear-gradient(top, #e3653f, #c01c03);
    background-image:         linear-gradient(top, #e3653f, #c01c03);
}

.button.negative:active {
    box-shadow: 0 0 5px #333 inset;
    color: #cfa391;

    background-color: #83311e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#83311e), to(#670d01));
    background-image: -webkit-linear-gradient(top, #83311e, #670d01);
    background-image:    -moz-linear-gradient(top, #83311e, #670d01);
    background-image:     -ms-linear-gradient(top, #83311e, #670d01);
    background-image:      -o-linear-gradient(top, #83311e, #670d01);
    background-image:         linear-gradient(top, #83311e, #670d01);
}
